* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-body: 'Mulish', sans-serif; 
  --fw-title: 900;
  --fw-button: 700;
  --fw-text: 600;

  --bg-page: #F9F4FB;
  --bg-main: linear-gradient(134deg, #343193 0%, #302C63 100%);
  --bg-cards: #FFF;
  --color-title: #B52184;
  --color-text: #312D64;
}

body,
label,
input,
textarea,
button {
  font-family: var(--ff-body);
  font-size: 1.6rem;
  text-align: center;
}

#page {
  max-width: clamp(48rem, 46rem + 70vw, 100%);
  background-color: var(--bg-page);
  margin: auto;
}

#page header  {
  animation: headerDown 1.5s ease-in-out;
}

#page header .img-astronaut {
  width: 100%;
}

#page header .text-wrapper h1 {
  font-size: clamp(3.2rem, 2rem + 2vw, 4.8rem);
  font-weight: var(--fw-title);
  color: var(--color-title);
  margin-top: 1.7rem;
}

#page header .text-wrapper p {
  font-size: clamp(2rem, 1rem + 1vw, 3.2rem);
  font-weight: var(--fw-text);
  color: var(--color-text);
  margin-bottom: 3.5rem;
}

#page header .text-wrapper .img-arrow {
  margin-bottom: 9.3rem;
  animation: updown 1s infinite alternate;
}

#page main {
  background: var(--bg-main);
  padding-top: 5.3rem;
}

#page main section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0 3.8rem 5.3rem;
}

#page main section .card {
  background-color: #FFF;
  padding: 2.6rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
  text-align: left;
  cursor: pointer;
  filter: brightness(0.9);
  transition: all 0.3s ease;
}

#page main section .card:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

#page main section .card img {
  margin-bottom: 3.3rem;
}

#page main section .card h2 {
  font-size: 2.8rem;
  font-weight: var(--fw-title);
  color: var(--color-title);
}

#page main section .card p {
  font-weight: var(--fw-text);
  color: var(--color-text);
}

#page main form {
  background-color: var(--bg-page);
  padding: 7.8rem 4rem 6.5rem;
  text-align: left;
}

#page main form fieldset {
  border: none;
}

#page main form fieldset legend {
  font-size: 3.2rem;
  font-weight: var(--fw-title);
  color: var(--color-title);
  margin-bottom: 4.3rem;
}

#page main form fieldset .section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

#page main form fieldset .section-wrapper .input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

#page main form fieldset .section-wrapper .input-wrapper label {
  position: absolute;
  margin-left: 1.2rem; 
}

#page main form fieldset .section-wrapper .input-wrapper input,
#page main form fieldset .section-wrapper textarea {
  border: 1.5px solid #312D64;
  border-radius: 1.6rem;
  padding: 1.2rem 1.6rem 1.2rem 4rem;
  width: 100%;
  text-align: left;
  outline: none;
}

#page main form fieldset .section-wrapper .input-wrapper input:focus,
#page main form fieldset .section-wrapper textarea:focus {
  border: 2px solid #343193;
}

#page main form fieldset .section-wrapper .input-wrapper input:required:valid {
  border: 2px solid #8a83ee;
}

#page main form fieldset .section-wrapper .input-wrapper input:required:not(:placeholder-shown):invalid { 
  border: 2px solid #e02da5;
}

#page main form fieldset .section-wrapper textarea {
  height: 12.6rem;
  resize: none;
}

#page main form fieldset .section-wrapper button {
  display: inline-flex;
  width: fit-content;
  padding: 1.6rem;
  border: none;
  border-radius: 1.6rem;
  background: var(--bg-main);
  color: var(--bg-cards);
  font-size: 1.4rem;
  font-weight: var(--fw-button);
  line-height: 2.4rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s linear;
}

#page main form fieldset .section-wrapper button:hover {
  filter: brightness(1.3);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.205);
}

#page footer {
  font-size: 2rem;
  color: var(--bg-cards);
  background: var(--bg-main);
  height: 8rem;
  display: grid;
  place-content: center;
}

@keyframes updown {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes headerDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: #c1bdf8;
}

::-webkit-scrollbar-thumb {
  background-color: #e02da5;
  border-radius: 4px;
  
}

@media (min-width: 800px) {
  #page header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 10rem 10rem;
  }

  #page header .img-astronaut {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #page header .text-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  #page header .text-wrapper p {
    margin-bottom: 10rem;
  }

  #page header .text-wrapper .img-arrow {
    margin: 0;
    width: 10%;
  }

  #page main section {
    flex-direction: row;
  }

  #page main form {
    display: grid;
    grid-template-areas: "input image";
    grid-template-columns: 1fr 1fr;
    gap: 9.2rem;
    padding: 0;
  }

  #page main form fieldset {
    grid-area: input;
    margin: 9rem 0 10rem 10rem;
  }

  #page main form::after {
    content: "";
    background-image: url("./images/image8.png");
    background-size: cover;
    grid-area: image;
  }
}