* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-body: 'Mulish', sans-serif; 
  --fw-title: 900;
  --fw-button: 700;
  --fw-text: 600;

  --bg-page: #F9F4FB;
  --bg-main: linear-gradient(134deg, #343193 0%, #302C63 100%);
  --bg-cards: #FFF;
  --color-title: #B52184;
  --color-text: #312D64;
}

body,
label,
input,
textarea,
button {
  font-family: var(--ff-body);
  font-size: 1.6rem;
  text-align: center;
}

#page {
  max-width: 43rem;
  background-color: var(--bg-page);
  margin: auto;
}

#page header h1 {
  font-size: 3.2rem;
  font-weight: var(--fw-title);
  color: var(--color-title);
  margin-top: 1.7rem;
}

#page header p {
  font-size: 2rem;
  font-weight: var(--fw-text);
  color: var(--color-text);
  margin-bottom: 3.5rem;
}

#page header .img-arrow {
  margin-bottom: 9.3rem;
}

#page main {
  background: var(--bg-main);
  padding-top: 5.3rem;
}

#page main section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0 9.2rem 5.3rem;
}

#page main section .card {
  background-color: #FFF;
  padding: 2.6rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
  text-align: left;
}

#page main section .card img {
  margin-bottom: 3.3rem;
}

#page main section .card h2 {
  font-size: 2.8rem;
  font-weight: var(--fw-title);
  color: var(--color-title);
}

#page main section .card p {
  font-weight: var(--fw-text);
  color: var(--color-text);
}

#page main form {
  background-color: var(--bg-page);
  padding: 7.8rem 4rem 6.5rem;
  text-align: left;
}

#page main form fieldset {
  border: none;
}

#page main form fieldset legend {
  font-size: 3.2rem;
  font-weight: var(--fw-title);
  color: var(--color-title);
  margin-bottom: 4.3rem;
}

#page main form fieldset .section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

#page main form fieldset .section-wrapper .input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

#page main form fieldset .section-wrapper .input-wrapper label {
  position: absolute;
  margin-left: 1.2rem; 
}

#page main form fieldset .section-wrapper .input-wrapper input,
#page main form fieldset .section-wrapper textarea {
  border: 1.5px solid #312D64;
  border-radius: 1.6rem;
  padding: 1.2rem 1.6rem 1.2rem 4rem;
  flex: 1;
  text-align: left;
}

#page main form fieldset .section-wrapper textarea {
  flex: 3;
}

#page footer {
  font-size: 2rem;
  color: var(--bg-cards);
  background: var(--bg-main);
  height: 8rem;
  display: grid;
  place-content: center;
}